ErrorDocument 404 "/attendance.app/errors/404.html"
ErrorDocument 403 "/attendance.app/errors/403.html"

AddType application/font-ttf .ttf

<Files "other/login.html">
    <IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteCond %{REQUEST_URL} !^/home.php
        RewriteRule ^ - [F]
    </IfModule>
    Order allow,deny
    Deny from all
</Files>